@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Caveat:wght@400;500;600;700&family=Parisienne&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Caveat:wght@400;500;600;700&family=Nanum+Myeongjo:wght@400;700;800&family=Parisienne&family=Slabo+27px&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Caveat";
}
body {
  background-color: rgba(238, 233, 232, 0.982);
}
.container {
  padding: 80px;
  color: black;
}
.navbarWrapper {
  padding: 10px 50px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding: 10px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.501);
}
.navbar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.navbar div img {
  width: 20px;
  height: 20px;
}
.navbar div hr {
  border-right: 1px solid rgba(20, 20, 20, 0.501);
  height: 19px;
}
.navbar .userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  position: relative;
}
.navbar .userInfo img {
  width: 20px;
  height: 20px;
}
.navbar .logo {
  font-family: "Caveat";
  font-size: 25px;
  font-weight: 700;
}

.searchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.inputSearch {
  display: none;
  background: transparent;
  border: 1px solid black;
  outline: none;
  width: 124px;
  padding: 4px;
  border-radius: 9px;
}
.showInput {
  display: block;
}

.navbar .userModal {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90px;
  height: 59px;
  padding: 0 2px;
  gap: 2px;
  border-radius: 2px;

  border: 1px solid rgba(0, 0, 0, 0.501);
  background-color: rgba(238, 233, 232, 0.982);
  position: absolute;
  top: 30px;
  right: -10%;
  z-index: 2;
}
.navbar .userModal button {
  width: 100%;
}
.navbar .showUserModal {
  display: flex;
}
.addBookModal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.835);
  z-index: 10;
  width: 100vw;
  height: 100vh;
}
.addBookOverlay {
  position: fixed;

  height: 100%;
  width: 100%;
  z-index: 3;
}
.showModal {
  display: flex;
}
.addBookModal .formAdd {
  display: flex;
  width: 200px;
  padding: 20px;
  border-radius: 16px;
  background-color: rgba(238, 233, 232, 0.982);
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 11;
}
.addBookModal .formAdd h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.addBookModal .formAdd button {
  background-color: rgb(57, 56, 56);
  border: none;
  color: rgb(94, 204, 200);
  font-size: 19px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.addBookModal .formAdd input {
  border-radius: 5px;
  border: 1px solid rgb(211, 210, 210);
  font-size: 15px;
  font-family: sans-serif;
  padding: 0 0 0 10px;
  outline: rgb(94, 204, 200);
}
.books-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: aquamarine;
  flex-wrap: wrap;
}
.book {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 5px;
}
.book img {
  width: 100%;
  height: 200px;
}
.editBtn {
  background-color: rgb(240, 169, 36);
  color: #f1f1f1;
}
.deleteBtn {
  background-color: rgb(239, 102, 102);
  color: #f1f1f1;
}
.book .bookDetail {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
